#config-overlay{
    font: inherit;
    text-align: center;
}

#config-overlay{
    margin: 0.5rem;
}

#config-overlay label{
    display: block;
    margin: 0.5rem;
    font-weight: bold;
}

#config-overlay input{
    margin: 0.8rem;
    font: inherit;
     border: 1px solid rgb(204,204,204);
     
}


#game-config{
    width: 90%;
    max-width: 40rem;
     margin: 3rem auto;
     text-align: center;
}

#game-config ol{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0%;
    
}

#game-config ol li{
    margin: 1rem;
    padding: 1rem;
    width: 50%;
    background-color: rgb(243,227, 255);
    border-radius: 5px;
    box-shadow: 2px 2px 4px black;
}

#game-config h2{
    font-size: 1rem;
    margin: 0.5rem ;
}
#game-config h3{
    font-size: 1.5rem;
    margin:1rem;
    color:rgb(94, 4, 169) ;
}
#game-config p{
    font-weight:bold ;
    font-size: 2rem;
    margin: 0.4rem;
}


/* extra class added by JavaScript */
.error input{
border-color: rgb(136,2 ,2);
color:rgb(136,2 ,2) ;
background-color: rgb(253,219,219);
}
.error label{
    color:rgb(136,2 ,2) ;
}
